<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site WEB de restaurant</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">
</head>
<body>

    <!-- HEADER -->

    <div class="portoflio-header">
        <div class="texte-avec-ligne-verticale" style="margin-left: 16px; margin-top: 22px; height: 45px;">

        <p class="portfolio-header-title">Eliott Lee</p>

        </div>

        <a class="contact-button contact-button-portfolio" href="mailto:eliott.lee@ecam.fr?subject=Contact%20depuis%20eliottlee.com">ME CONTACTER</a> 

    </div>


    <!-- SECTION GRISE TITRE -->

    <div class="section section-grise1" style="padding-top: 20px;">

        <a class="portfolio-back" href="../../index.html">Retour</a>

        <div class="separateur" style="margin-top: -12px"></div>
        <h1 class="portfolio">Portfolio</h1>
        <h2 class="portfolio">Site WEB pour un restaurant</h2>
    
    </div>

    <!-- SECTION CONTENU -->

    <div class="section">
        <div class="texte-avec-ligne-verticale">

            <p>J'ai réalisé ce projet WEB au cours de la formation "Développeur Python | Formation Complète 2021" sur Udemy.<br><br> Ce projet m'a permis de découvrir ou d'approfondir les languages Python HTML et CSS.<br><br>Lors de cet exercice j'ai développé un programme permettant à mon client fictif de facilement modifier un menu de pizzas en ligne. Il a été nécessaire de créer une interface facile et pratique d'utilisation afin de rendre la manoeuvre la plus simple possible.<br><br>Il est possible de consulter le rendu de ce projet ci-dessous. <br><br><u>Technologies utilisées :</u><b> PYTHON, HTML, CSS, DJANGO, HEROKU</b></p>

            <div style="text-align: center; margin-top: 30px">
                <a href="#"><img class="portfolio" src="../img/project1.jpg"></a>
                <a href="#" style="display: block; margin-top: 8px">Consulter le projet</a>
            </div>

        </div>
            

    </div>
    <!-- FRAME -->

    <iframe src="contact-frame.html" scrolling="no">
    
</body>
</html>
